extend layout_content

block header
	h1 #{__('login')}
	p.lead #{__('why i need to login')}
	
// **************************************************************************************
// *** MARKETING CONTENT
// **************************************************************************************
block content
	.span6
		img(class="img-circle", data-src="holder.js/140x140")
		h2 weil halt
		p
			| Donec sed odio dui. Etiam porta sem malesuada magna mollis 
			| euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. 
			| Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
			| Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
		p
			a.btn(href="#") View this details »

	.span6
		img(class="img-circle", data-src="holder.js/140x140")
		h2 Heading
		p
			| Duis mollis, est non commodo luctus, nisi erat porttitor ligula, 
			| eget lacinia odio sem nec elit. Cras mattis consectetur purus 
			| sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, 
			| tortor mauris condimentum nibh, ut fermentum massa justo sit 
			| amet risus.
		p
			a.btn(href="#") View this details »

