/* 
  Modal Window styles
*/

.modal
	h1
		color white
		margin-top	-2px
		text-align: left 
		padding: 10px 23px
		background-color #000000
		-webkit-border-top-left-radius 10px
		-webkit-border-top-right-radius 10px
		-moz-border-top-left-radius 10px
		-moz-border-top-right-radius 10px
		border-top-left-radius 10px
		border-top-right-radius 10px
	
.modal
	ul, div.tab-content, p
		margin-right 10px
		margin-left 10px
	
	.modal-footer
		margin-top 20px